@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f8f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfdfd;
    --foreground: #ededed;
  }
}

@font-face{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: #2b343d;
  font-family: 'Montserrat', sans-serif, helvetica, arial;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}


.product-card-price {
  margin: 4px 0;
  text-align: left;
}


.product-grid {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.product-grid-empty {
  grid-column: 1 / -1;
}

.product-card-wrapper {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.product-card-wrapper:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  z-index: 10;
  transform: scale(1.02);
}


.tag-item {
  padding: 3px 17px;
}


.product-card-image {
  width: 100%;
  min-height: 12rem;
  max-height: 12rem;
  object-fit: contain;
  margin: 0 auto;
  transition: all 250ms;
  object-position: 50% 50%;
}

@media (min-width: 768px) {
  .product-card-image {
    max-height: 16rem;
  }
}


.product-card-description {
  height: 150px;
  margin: 0;
  text-align: left;
  font-size: 14px;
  line-height: 1.33;
}

.product-card-description h3 {
  color: #000;
  font-weight: 400;
}

.product-card-btn {
  padding: 0;
  border-radius: 0;
  border: none;
  width: 100%;
  height: 29.1px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .product-card-btn {
    height: 40px;
    font-size: 16px;
  }
}


.product-card-btn-primary {
  background-color: #2b343d;
  color: #fff;
}


.product-card-btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: width 0.4s ease-in-out;
  z-index: 0;
}

.product-card-btn-primary:hover::before {
  width: 100%;
}

.product-card-btn-primary span {
  position: relative;
  z-index: 1;
}


.product-card-btn-disabled {
  background-color: rgba(43, 52, 61, 0.1);
  border-color: rgba(43, 52, 61, 0);
  color: rgba(43, 52, 61, 0.35);
  cursor: not-allowed;
}

.product-card-btn-disabled::before {
  display: none;
}
